<%= form_with model: boleto,
              data: {
                controller: "select modal",
                action: "turbo:submit-end->modal#submitEnd",
                select_prompt_value: t('.select_the_state'),
                select_url_value: cities_url } do |form| %>
  <% if boleto.errors_empty? %>
    <% errors = {} %>
  <% else %>
    <% errors = JSON.parse(boleto.response_errors).with_indifferent_access %>
    <div class="p-4 mb-2 has-background-warning-light">
      <h2 class="subtitle has-text-info"><%= t('.error', count: errors.count) %> <%= t('.error_message') %></h2>

      <ul>
        <% errors.each do |key, value| %>
          <% value.each do |message| %>
            <li class="has-text-danger pl-4">- <%= t(".#{key.to_s}") %> <%= message %></li>
          <% end %>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="columns is-multiline is-centered">

    <% unless boleto.persisted? %>
      <div class="column">
        <%= form.label :customer_person_name, t('.customer_person_name'), class: "label" %>
        <div class="control" style="width: 200px;">
          <%= form.text_field :customer_person_name, class: error_border(errors, :customer_person_name), required: true %>
        </div>
      </div>
      <div class="column">
        <%= form.label :customer_cnpj_cpf, t('.customer_cnpj_cpf'), class: "label" %>
        <div class="control" style="width: 200px;">
          <%= form.text_field :customer_cnpj_cpf, class: error_border(errors, :customer_cnpj_cpf), required: true %>
        </div>
      </div>
    <% end %>

    <div class="column">
      <%= form.label :amount, t('.amount'), class: "label" %>
      <div class="control" style="width: 200px;">
        <%= form.number_field :amount, step: "0.01", class: error_border(errors, :amount), required: true %>
      </div>
    </div>
    <div class="column">
      <%= form.label :expire_at, t('.expire_at'), class: "label" %>
      <div class="control" style="width: 200px;">
        <%= form.date_field :expire_at, class: error_border(errors, :expire_at), required: true %>
      </div>
    </div>

    <% unless boleto.persisted? %>
      <div class="column">
        <%= form.label :customer_address, t('.customer_address'), class: "label" %>
        <div class="control" style="width: 200px;">
          <%= form.text_field :customer_address, class: error_border(errors, :customer_address), required: true %>
        </div>
      </div>
      <div class="column">
        <%= form.label :customer_zipcode, t('.customer_zipcode'), class: "label" %>
        <div class="control" style="width: 200px;">
          <%= form.text_field :customer_zipcode, class: error_border(errors, :customer_zipcode), required: true %>
        </div>
      </div>
      <div class="column">
        <%= form.label :customer_state, t('.customer_state'), class: "label" %>
        <div class="control select" style="width: 200px;">
          <%= form.select :customer_state,
                      CS.states(:BR).keys,
                      {
                          include_blank: true
                      },
                      {
                        class: error_border(errors, :customer_state),
                        required: true,
                        data: {
                          action: "change->select#state_change",
                          select_target: "state"
                        }
                      }
          %>
        </div>
      </div>
      <div class="column">
        <%= form.label :customer_city_name, t('.customer_city_name'), class: "label" %>
        <div class="control select" style="width: 200px;">
          <%= form.select :customer_city_name,
                      @cities,
                      {
                        prompt: t('.select_the_state')
                      },
                      {
                        class: error_border(errors, :customer_city_name),
                        required: true,
                        data: {
                          select_target: "city"
                        }
                      }
          %>
        </div>
      </div>
      <div class="column">
        <%= form.label :customer_neighborhood, t('.customer_neighborhood'), class: "label" %>
        <div class="control" style="width: 200px;">
          <%= form.text_field :customer_neighborhood, class: error_border(errors, :customer_neighborhood), required: true %>
        </div>
      </div>
    <% end %>
    
  </div>
  <div class="is-flex is-justify-content-space-between">
    <%= form.submit boleto.persisted? ? t('.update') : t('.create'), class: "button is-primary is-rounded mt-4" %>
    <%= link_to t('.back'), boletos_path, data: { controller: "modal", action: "modal#close"}, class: "button is-primary is-rounded mt-4" %>
  </div>
<% end %>
