<%= form_with model: boleto, url: boletos_url, method: :post, data: {  controller: "select modal", action: "turbo:submit-end->modal#submitEnd", select_url_value: cities_url } do |form| %>
  <% unless boleto.persisted? %>
    <% errors = JSON.parse(boleto.response_errors) %>
    <div style="color: red">
      <h2><%= pluralize(errors.count, "erro") %> <%= errors.count == 1 ? "impede" : "impedem" %> esse boleto de ser salvo:</h2>

      <ul>
        <% errors.each do |key, value| %>
          <% value.each do |message| %>
            <li><%= key %> <%= message %></li>
          <% end %>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="columns is-multiline is-centered">
    <div class="column">
      <%= form.label :customer_person_name, "Nome", class: "label" %>
      <div class="control" style="width: 200px;">
        <%= form.text_field :customer_person_name, class: "input", required: true %>
      </div>
    </div>
    <div class="column">
      <%= form.label :customer_cnpj_cpf, "CNPJ/CPF", class: "label" %>
      <div class="control" style="width: 200px;">
        <%= form.text_field :customer_cnpj_cpf, class: "input", required: true %>
      </div>
    </div>
    <div class="column">
      <%= form.label :amount, "Valor", class: "label" %>
      <div class="control" style="width: 200px;">
        <%= form.number_field :amount, step: "0.01", class: "input", required: true %>
      </div>
    </div>
    <div class="column">
      <%= form.label :expire_at, "Vencimento", class: "label" %>
      <div class="control" style="width: 200px;">
        <%= form.date_field :expire_at, class: "input", required: true %>
      </div>
    </div>
    <div class="column">
      <%= form.label :customer_address, "Endereço", class: "label" %>
      <div class="control" style="width: 200px;">
        <%= form.text_field :customer_address, class: "input", required: true %>
      </div>
    </div>
    <div class="column">
      <%= form.label :customer_zipcode, "CEP", class: "label" %>
      <div class="control" style="width: 200px;">
        <%= form.text_field :customer_zipcode, class: "input", required: true %>
      </div>
    </div>
    <div class="column">
      <%= form.label :customer_state, "Estado", class: "label" %>
      <div class="control select" style="width: 200px;">
        <%= form.select :customer_state,
                    CS.states(:BR).keys,
                    {
                        include_blank: true
                    },
                    {
                      class: "input",
                      required: true,
                      data: {
                        action: "change->select#state_change",
                        select_target: "state"
                      }
                    }
        %>
      </div>
    </div>
    <div class="column">
      <%= form.label :customer_city_name, "Cidade", class: "label" %>
      <div class="control select" style="width: 200px;">
        <%= form.select :customer_city_name,
                    @cities,
                    {
                      include_blank: true
                    },
                    {
                      class: "input",
                      required: true,
                      data: {
                        select_target: "city"
                      }
                    }
        %>
      </div>
    </div>
    <div class="column">
      <%= form.label :customer_neighborhood, "Bairro", class: "label" %>
      <div class="control" style="width: 200px;">
        <%= form.text_field :customer_neighborhood, class: "input", required: true %>
      </div>
    </div>
  </div>
  <div class="is-flex is-justify-content-space-between">
    <%= form.submit "Criar boleto", class: "button is-primary is-rounded mt-4" %>
    <%= link_to "Voltar", boletos_path, data: { controller: "modal", action: "modal#close"}, class: "button is-primary is-rounded mt-4" %>
  </div>
<% end %>
