<div id="flash">
  <%= render "layouts/flash" %>
</div>
<div class="is-flex is-justify-content-end">
  <% (I18n.available_locales - [I18n.locale]).each do |locale| %>
    <span class="mr-2"><%= link_to t(locale), boletos_path(locale: locale) %></span>
  <% end %>
</div>
<br>  
<div class="is-flex is-justify-content-end">
  <%= link_to t('.create_bank_billet'),
              new_boleto_path,
              class: "button is-primary is-rounded mb-4",
              data: {
                controller: "modal",
                action: "modal#open",
                turbo_frame: "boleto_frame"
              }
  %>
</div>

<table class="table is-striped is-fullwidth">
  <thead>
    <tr>
      <th><%= t('boletos.form.customer_person_name') %></th>
      <th class="is-hidden-touch"><%= t('boletos.form.customer_cnpj_cpf') %></th>
      <th><%= t('boletos.form.amount') %></th>
      <th class="is-hidden-mobile"><%= t('boletos.form.expire_at') %></th>
      <th class="is-hidden-touch"><%= t('boletos.form.customer_city_name') %></th>
      <th class="is-hidden-touch"><%= t('boletos.form.customer_state') %></th>
      <th><%= t('boletos.form.status') %></th>
    </tr>
  </thead>
  <tbody id="boletos">
    <% @boletos.each do |boleto| %>
      <%= render "bank_billet", boleto: boleto %>
    <% end %>
  </tbody>
</table>

<%= render "layouts/modal" %>
