<h1>Boletos#index</h1>
<p>Find me in app/views/boletos/index.html.erb</p>
<%= link_to "Create boleto", new_boleto_path, class: "button is-primary" %>
<table class="table">
  <thead>
    <tr>
      <th>Amount</th>
      <th>Expiration</th>
      <th>Person</th>
      <th>CNPJ/CPF</th>
      <th>State</th>
      <th>City</th>
      <th>Zipcode</th>
      <th>Address</th>
      <th>Neighborhood</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @billets.each do |billet| %>
      <tr>
        <td class="has-text-right"><%= billet[:amount] %></td>
        <td><%= billet[:expire_at] %></td>
        <td><%= link_to billet[:customer_person_name], boleto_path(billet[:id]) %></td>
        <td class="has-text-right"><%= billet[:customer_cnpj_cpf] %></td>
        <td><%= billet[:customer_state] %></td>
        <td><%= billet[:customer_city_name] %></td>
        <td class="has-text-right"><%= "#{billet[:customer_zipcode][0, 5]}-#{billet[:customer_zipcode][5, 3]}" %></td>
        <td><%= billet[:customer_address] %></td>
        <td><%= billet[:customer_neighborhood] %></td>
        <td><%= link_to "Cancelar", edit_boleto_path(billet[:id]) if billet[:status] == "opened" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
