<div id="flash">
  <%= render "layouts/flash" %>
</div>
<div class="is-flex is-justify-content-end">
  <%= link_to t(:create_bank_billet),
              new_boleto_path,
              class: "button is-primary is-rounded mb-4",
              data: {
                controller: "modal",
                action: "modal#open",
                turbo_frame: "boleto_frame"
              }
  %>
</div>

<table class="table is-striped is-fullwidth">
  <thead>
    <tr>
      <th><%= t(:customer_person_name) %></th>
      <th class="is-hidden-touch"><%= t(:customer_cnpj_cpf) %></th>
      <th><%= t(:amount) %></th>
      <th class="is-hidden-mobile"><%= t(:expire_at) %></th>
      <th class="is-hidden-touch"><%= t(:customer_city_name) %></th>
      <th class="is-hidden-touch"><%= t(:customer_state) %></th>
      <th><%= t(:status) %></th>
    </tr>
  </thead>
  <tbody id="boletos">
    <% @boletos.each do |boleto| %>
      <%= render "bank_billet", boleto: boleto %>
    <% end %>
  </tbody>
</table>

<%= render "layouts/modal" %>
