<h1>Boletos#index</h1>
<p>Find me in app/views/boletos/index.html.erb</p>
<table class="table">
  <thead>
    <tr>
      <th>amount</th>
      <th>expire_at</th>
      <th>customer_person_name</th>
      <th>customer_cnpj_cpf</th>
      <th>customer_state</th>
      <th>customer_city_name</th>
      <th>customer_zipcode</th>
      <th>customer_address</th>
      <th>customer_neighborhood</th>
    </tr>
  </thead>
  <tbody>
    <% @billets.each do |billet| %>
      <tr>
        <td><%= billet[:amount] %></td>
        <td><%= billet[:expire_at] %></td>
        <td><%= billet[:customer_person_name] %></td>
        <td><%= billet[:customer_cnpj_cpf] %></td>
        <td><%= billet[:customer_state] %></td>
        <td><%= billet[:customer_city_name] %></td>
        <td><%= billet[:customer_zipcode] %></td>
        <td><%= billet[:customer_address] %></td>
        <td><%= billet[:customer_neighborhood] %></td>
      </tr>
    <% end %>
  </tbody>
</table>
