<%= turbo_frame_tag :boleto_frame do %>

  <%= render "boletos/boleto", boleto: @boleto %>

  <div class="is-flex is-justify-content-space-evenly mt-4">
    <%= link_to t(:back),
                boletos_path,
                class: "button is-primary is-rounded",
                data: {
                  controller: "modal",
                  action: "modal#close"
                }
    %>
    <% if @boleto.status == "opened" %>
      <%= link_to t(:edit_bank_billet),
                  edit_boleto_path(@boleto),
                  class: "button is-primary is-rounded",
                  data: {
                    turbo_frame: "boleto_frame"
                  }
      %>
      <%= link_to t(:cancel_bank_billet),
                  cancel_boleto_path(@boleto),
                  class: "button is-danger is-rounded",
                  data: {
                    turbo_frame: "boleto_frame"
                  }
        %>
    <% end %>
  </div>
  
<% end %>
