<%= turbo_frame_tag :boleto_frame do %>
  <p style="color: green"><%= notice %></p>

  <%= render "boletos/boleto", boleto: @boleto %>

  <div class="is-flex is-justify-content-space-between">
    <%= link_to "Voltar",
                boletos_path,
                class: "button is-primary is-rounded mt-4",
                data: {
                  controller: "modal",
                  action: "modal#close"
                }
    %>
    <% if @boleto[:status] == "opened" %>
      <%= link_to "Cancelar boleto",
                  edit_boleto_path(@boleto[:id]),
                  class: "button is-danger is-rounded",
                  data: {
                    turbo_frame: "boleto_frame"
                  }
        %>
    <% end %>
  </div>
<% end %>
